body {
    background-color: #f0f0f0;
}

header {
    font-size: 2em;
    font-weight: bold;
    font-family: arial;
}

main {
    margin-left: 20%;
}



#navbar {
    height: 100%;
    width: 200px;
    background-color: #fefe00;
    position: fixed;
    margin-left: -8px;
    margin-top: -8px;
    padding-left: 30px;
    padding-right: 30px;
}

a {
    font-size: 21px;
    margin-top: 20px;
    color: #000;
    text-decoration: none;
    padding: 3px;
    display: flex;
    align-items: column;
    font-family: arial;
}

p {
    font-family: helvetica;
    font-size: 18px;
}

li {
    font-family: helvetica;
    font-size: 16px;
}

#snapchat-logo {
    margin-top: 320px;
    width: 200px;
}

a:hover{
    background: rgb(255, 255, 255, 0.7);
}

#snapchat {
}
#historia {
}
#installera_snapchat {
}
#användning_av_snapchat {
}
#källor {
}